# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.SelectingTask.iml
# Datasource local storage ignored files
/../../../../../../../:\UnityProjects\SelectingTask\SelectingTask\.idea\.idea.SelectingTask\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
